<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LEVE.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BC0287B28CFDDE70268534DA37DEDE0A89148CCA</string>
				<key>dateExpires</key>
				<string>2019/6/12</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>W2JSHH2VCW.com.BigData.leve</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>W2JSHH2VCW</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>LEVE.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>80952df0-98e9-4ce0-a623-d1bd150bbd43</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.BigData.leve</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>W2JSHH2VCW</string>
				<key>name</key>
				<string>Shenzhen LEVE Technology Co.,Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
